@charset "UTF-8";
@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}
/*!
 *  owfont-regular 1.0.0 by Deniz Fuchidzhiev - http://websygen.com
 *  License - font: SIL OFL 1.1, css: MIT License
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: "owfont";
  src: url("../assets/fonts/owfont-regular.eot?v=1.0.0");
  src: url("../assets/fonts/owfont-regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../assets/fonts/owfont-regular.woff") format("woff"), url("../assets/fonts/owfont-regular.ttf") format("truetype"), url("../assets/fonts/owfont-regular.svg#owf-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.owf {
  display: inline-block;
  font: normal normal normal 14px/1 owfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.owf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.owf-2x {
  font-size: 2em;
}

.owf-3x {
  font-size: 3em;
}

.owf-4x {
  font-size: 4em;
}

.owf-5x {
  font-size: 5em;
}

.owf-fw {
  width: 1.28571429em;
  text-align: center;
}

.owf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.owf-ul > li {
  position: relative;
}

.owf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.owf-li.owf-lg {
  left: -1.85714286em;
}

.owf-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eeeeee;
  border-radius: 0.1em;
}

.owf-pull-right {
  float: right;
}

.owf-pull-left {
  float: left;
}

.owf.owf-pull-left {
  margin-right: 0.3em;
}

.owf.owf-pull-right {
  margin-left: 0.3em;
}

/* owfont uses the Unicode Private Use Area (PUA) to ensure screen
 readers do not read off random characters that represent icons */
/*   Weather Condition Codes    */
/*   Thunderstorm - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* thunderstorm with light rain */
.owf-200:before,
.owf-200-d:before,
.owf-200-n:before {
  content: "\eb28";
}

/* thunderstorm with rain */
.owf-201:before,
.owf-201-d:before,
.owf-201-n:before {
  content: "\eb29";
}

/* thunderstorm with heavy rain */
.owf-202:before,
.owf-202-d:before,
.owf-202-n:before {
  content: "\eb2a";
}

/*  light thunderstorm  */
.owf-210:before,
.owf-210-d:before,
.owf-210-n:before {
  content: "\eb32";
}

/*  thunderstorm  */
.owf-211:before,
.owf-211-d:before,
.owf-211-n:before {
  content: "\eb33";
}

/*   heavy thunderstorm   */
.owf-212:before,
.owf-212-d:before,
.owf-212-n:before {
  content: "\eb34";
}

/*   ragged thunderstorm   */
.owf-221:before,
.owf-221-d:before,
.owf-221-n:before {
  content: "\eb3d";
}

/*  thunderstorm with light drizzle    */
.owf-230:before,
.owf-230-d:before,
.owf-230-n:before {
  content: "\eb46";
}

/*  thunderstorm with drizzle     */
.owf-231:before,
.owf-231-d:before,
.owf-231-n:before {
  content: "\eb47";
}

/* thunderstorm with heavy drizzle     */
.owf-232:before,
.owf-232-d:before,
.owf-232-n:before {
  content: "\eb48";
}

/*   Drizzle - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/*  light intensity drizzle */
.owf-300:before,
.owf-300-d:before,
.owf-300-n:before {
  content: "\eb8c";
}

/*  drizzle */
.owf-301:before,
.owf-301-d:before,
.owf-301-n:before {
  content: "\eb8d";
}

/*  heavy intensity drizzle  */
.owf-302:before,
.owf-302-d:before,
.owf-302-n:before {
  content: "\eb8e";
}

/*   light intensity drizzle rain  */
.owf-310:before,
.owf-310-d:before,
.owf-310-n:before {
  content: "\eb96";
}

/*  drizzle rain  */
.owf-311:before,
.owf-311-d:before,
.owf-311-n:before {
  content: "\eb97";
}

/* heavy intensity drizzle rain */
.owf-312:before,
.owf-312-d:before,
.owf-312-n:before {
  content: "\eb98";
}

/* shower rain and drizzle  */
.owf-313:before,
.owf-313-d:before,
.owf-313-n:before {
  content: "\eb99";
}

/* heavy shower rain and drizzle*/
.owf-314:before,
.owf-314-d:before,
.owf-314-n:before {
  content: "\eb9a";
}

/* shower drizzle */
.owf-321:before,
.owf-321-d:before,
.owf-321-n:before {
  content: "\eba1";
}

/*   Rain - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* light rain  */
.owf-500:before,
.owf-500-d:before,
.owf-500-n:before {
  content: "\ec54";
}

/* moderate rain  */
.owf-501:before,
.owf-501-d:before,
.owf-501-n:before {
  content: "\ec55";
}

/* heavy intensity rain  */
.owf-502:before,
.owf-502-d:before,
.owf-502-n:before {
  content: "\ec56";
}

/* very heavy rain   */
.owf-503:before,
.owf-503-d:before,
.owf-503-n:before {
  content: "\ec57";
}

/* extreme rain    */
.owf-504:before,
.owf-504-d:before,
.owf-504-n:before {
  content: "\ec58";
}

/* freezing rain    */
.owf-511:before,
.owf-511-d:before,
.owf-511-n:before {
  content: "\ec5f";
}

/*  light intensity shower rain    */
.owf-520:before,
.owf-520-d:before,
.owf-520-n:before {
  content: "\ec68";
}

/* shower rain  */
.owf-521:before,
.owf-521-d:before,
.owf-521-n:before {
  content: "\ec69";
}

/*  heavy intensity shower rain  */
.owf-522:before,
.owf-522-d:before,
.owf-522-n:before {
  content: "\ec6a";
}

/* ragged shower rain  */
.owf-531:before,
.owf-531-d:before,
.owf-531-n:before {
  content: "\ec73";
}

/*   Snow - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* light snow  */
.owf-600:before,
.owf-600-d:before,
.owf-600-n:before {
  content: "\ecb8";
}

/*  snow  */
.owf-601:before,
.owf-601-d:before,
.owf-601-n:before {
  content: "\ecb9";
}

/*   heavy snow   */
.owf-602:before,
.owf-602-d:before,
.owf-602-n:before {
  content: "\ecba";
}

/*  sleet  */
.owf-611:before,
.owf-611-d:before,
.owf-611-n:before {
  content: "\ecc3";
}

/*   shower sleet */
.owf-612:before,
.owf-612-d:before,
.owf-612-n:before {
  content: "\ecc4";
}

/* light rain and snow */
.owf-615:before,
.owf-615-d:before,
.owf-615-n:before {
  content: "\ecc7";
}

/* rain and snow  */
.owf-616:before,
.owf-616-d:before,
.owf-616-n:before {
  content: "\ecc8";
}

/* light shower snow  */
.owf-620:before,
.owf-620-d:before,
.owf-620-n:before {
  content: "\eccc";
}

/* shower snow  */
.owf-621:before,
.owf-621-d:before,
.owf-621-n:before {
  content: "\eccd";
}

/* heavy shower snow  */
.owf-622:before,
.owf-622-d:before,
.owf-622-n:before {
  content: "\ecce";
}

/*   Atmosphere - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* mist */
.owf-701:before,
.owf-701-d:before,
.owf-701-n:before {
  content: "\ed1d";
}

/* smoke */
.owf-711:before,
.owf-711-d:before,
.owf-711-n:before {
  content: "\ed27";
}

/* haze */
.owf-721:before,
.owf-721-d:before,
.owf-721-n:before {
  content: "\ed31";
}

/* Sand/Dust Whirls */
.owf-731:before,
.owf-731-d:before,
.owf-731-n:before {
  content: "\ed3b";
}

/* Fog */
.owf-741:before,
.owf-741-d:before,
.owf-741-n:before {
  content: "\ed45";
}

/* sand */
.owf-751:before,
.owf-751-d:before,
.owf-751-n:before {
  content: "\ed4f";
}

/* dust */
.owf-761:before,
.owf-761-d:before,
.owf-761-n:before {
  content: "\ed59";
}

/*  VOLCANIC ASH  */
.owf-762:before,
.owf-762-d:before,
.owf-762-n:before {
  content: "\ed5a";
}

/* SQUALLS */
.owf-771:before,
.owf-771-d:before,
.owf-771-n:before {
  content: "\ed63";
}

/* TORNADO */
.owf-781:before,
.owf-781-d:before,
.owf-781-n:before {
  content: "\ed6d";
}

/*   Clouds - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/*  sky is clear  */ /*  Calm  */
.owf-800:before,
.owf-800-d:before,
.owf-951:before,
.owf-951-d:before {
  content: "\ed80";
}

.owf-800-n:before,
.owf-951-n:before {
  content: "\f168";
}

/*  few clouds   */
.owf-801:before,
.owf-801-d:before {
  content: "\ed81";
}

.owf-801-n:before {
  content: "\f169";
}

/* scattered clouds */
.owf-802:before,
.owf-802-d:before {
  content: "\ed82";
}

.owf-802-n:before {
  content: "\f16a";
}

/* broken clouds  */
.owf-803:before,
.owf-803-d:before,
.owf-803-n:before {
  content: "\ed83";
}

/* overcast clouds  */
.owf-804:before,
.owf-804-d:before,
.owf-804-n:before {
  content: "\ed84";
}

/*   Extreme - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* tornado  */
.owf-900:before,
.owf-900-d:before,
.owf-900-n:before {
  content: "\ede4";
}

/*  tropical storm  */
.owf-901:before,
.owf-901-d:before,
.owf-901-n:before {
  content: "\ede5";
}

/* hurricane */
.owf-902:before,
.owf-902-d:before,
.owf-902-n:before {
  content: "\ede6";
}

/* cold */
.owf-903:before,
.owf-903-d:before,
.owf-903-n:before {
  content: "\ede7";
}

/* hot */
.owf-904:before,
.owf-904-d:before,
.owf-904-n:before {
  content: "\ede8";
}

/* windy */
.owf-905:before,
.owf-905-d:before,
.owf-905-n:before {
  content: "\ede9";
}

/* hail */
.owf-906:before,
.owf-906-d:before,
.owf-906-n:before {
  content: "\edea";
}

/*   Additional - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* Setting */
.owf-950:before,
.owf-950-d:before,
.owf-950-n:before {
  content: "\ee16";
}

/*  Light breeze  */
.owf-952:before,
.owf-952-d:before,
.owf-952-n:before {
  content: "\ee18";
}

/*  Gentle Breeze  */
.owf-953:before,
.owf-953-d:before,
.owf-953-n:before {
  content: "\ee19";
}

/*  Moderate breeze  */
.owf-954:before,
.owf-954-d:before,
.owf-954-n:before {
  content: "\ee1a";
}

/* Fresh Breeze  */
.owf-955:before,
.owf-955-d:before,
.owf-955-n:before {
  content: "\ee1b";
}

/* Strong  Breeze  */
.owf-956:before,
.owf-956-d:before,
.owf-956-n:before {
  content: "\ee1c";
}

/* High wind, near gale  */
.owf-957:before,
.owf-957-d:before,
.owf-957-n:before {
  content: "\ee1d";
}

/* Gale */
.owf-958:before,
.owf-958-d:before,
.owf-958-n:before {
  content: "\ee1e";
}

/*  Severe Gale  */
.owf-959:before,
.owf-959-d:before,
.owf-959-n:before {
  content: "\ee1f";
}

/* Storm */
.owf-960:before,
.owf-960-d:before,
.owf-960-n:before {
  content: "\ee20";
}

/*  Violent Storm  */
.owf-961:before,
.owf-961-d:before,
.owf-961-n:before {
  content: "\ee21";
}

/* Hurricane */
.owf-962:before,
.owf-962-d:before,
.owf-962-n:before {
  content: "\ee22";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320pxpx;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Arial";
  font-size: 16px;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 480px;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 768px) {
  body.lock {
    width: 100%;
    position: fixed;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  color: #000;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 993px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0;
  }
}

.header {
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-body-player {
  transition: all 0.3s ease 0s;
}

.advanced-timeline {
  padding: 10px 0px 15px 0px;
  display: flex;
  align-items: center;
}
.advanced-timeline__line {
  width: 175px;
  height: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.advanced-timeline__progress {
  position: absolute;
  height: 10px;
  top: 0;
  left: 0;
  background: #444;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.advanced-controls {
  position: relative;
  width: 100%;
}
.advanced-controls__prev {
  background-image: url("../assets/svg/play-prev.svg");
}
.advanced-controls__play {
  margin: 0 20px;
  background-image: url("../assets/svg/play.svg");
}
.advanced-controls__play.play {
  background-image: url("../assets/svg/pause.svg");
}
.advanced-controls__next {
  background-image: url("../assets/svg/play-next.svg");
}
.advanced-controls__volume {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../assets/svg/volume.svg");
}
.advanced-controls__volume.off {
  background-image: url("../assets/svg/volume-off.svg");
}

.advanced-controls-slider {
  overflow: hidden;
  position: absolute;
  top: 4px;
  right: 40px;
  width: 0px;
  height: 25px;
  background: white;
  transition: all 0.3s ease 0s;
}
.advanced-controls-slider.active {
  width: 175px;
}
.advanced-controls-slider__progress {
  background: #444;
  height: 100%;
  width: 25%;
  transition: all 0.3s ease 0s;
}

.advanced-list {
  padding: 10px 0px 0px 0px;
  text-align: left;
}
.advanced-list__item {
  position: relative;
  padding: 5px 5px 5px 20px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.advanced-list__item:hover {
  opacity: 1;
}
.advanced-list__item::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: px;
  font-weight: 900;
}
.advanced-list__item.active::before {
  color: #C5B358;
}

.header-body-weather {
  min-width: 200px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  text-align: left;
}

.weather {
  font-size: 18px;
  line-height: 23px;
  transition: all 0.3s ease 0s;
}
.weather__city {
  width: 100%;
  height: 34px;
  padding: 5px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.weather__city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.weather__city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.weather__icon {
  font-size: 44px;
  padding: 15px 0;
}
.weather__error {
  margin: 10px 0px 0px 0px;
}
.weather-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.footer {
  width: 100%;
  padding: 20px;
}

.footer-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-body__change {
  background-image: url("../assets/svg/reload.svg");
}

.footer-body-settings {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #000;
}
.footer-body-settings__button {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -35px;
  left: 0;
  background-image: url("../assets/svg/settings.svg");
}
.footer-body-settings__button.active {
  opacity: 1;
}

.footer-body-settings-window {
  opacity: 0;
  padding: 20px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.footer-body-settings-window.open {
  opacity: 1;
}

.footer-body-settings-window-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.footer-body-settings-window-list__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
}

.option__text {
  margin: 0px 10px 0px 0px;
}

.footer-body-settings-window-images__option {
  opacity: 0.6;
}
.footer-body-settings-window-images__option.active {
  opacity: 1;
}
.footer-body-settings-window-images__input {
  width: 100%;
  height: 0px;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  color: #000;
  transition: all 0.4s ease 0s;
}
.footer-body-settings-window-images__input.api {
  height: 34px;
  border-bottom: 1px solid #000;
}

.footer-body-settings-window-language__option {
  opacity: 0.6;
}
.footer-body-settings-window-language__option.active {
  opacity: 1;
}

.footer-body-quote {
  transition: all 0.3s ease 0s;
}
.footer-body-quote__text {
  padding: 20px 0;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 38%;
  left: 38%;
  padding: 40px 20px;
  background: #fff;
  width: 25%;
  height: 200px;
}
.popup__content {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}
.popup__content a {
  text-decoration: underline;
  color: blue;
}

.content {
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
  position: relative;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-body__time {
  min-height: 124px;
  display: block;
  font-family: "Arial-MT";
  font-size: 145px;
  letter-spacing: -10px;
  transition: all 0.3s ease 0s;
}
.content-body__time.disabled {
  height: 0;
}
@media (max-width: 768px) {
  .content-body__time {
    min-height: 80px;
    font-size: 80px;
    letter-spacing: -5px;
  }
}
.content-body__date {
  min-height: 28px;
  padding: 20px 0;
  transition: all 0.3s ease 0s;
  font-size: 30px;
}
.content-body__date.disabled {
  height: 0;
}
@media (max-width: 768px) {
  .content-body__date {
    font-size: 20px;
  }
}

.slider-icons__prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}
.slider-icons__next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.slider-icon {
  position: absolute;
  top: 30%;
  z-index: 5;
  cursor: pointer;
}

.content-body-greeting {
  width: 100vw;
  min-height: 48px;
  font-size: 45px;
  transition: all 0.3s ease 0s;
}
.content-body-greeting.disabled {
  height: 0;
}
@media (max-width: 768px) {
  .content-body-greeting {
    min-height: 40px;
    font-size: 32px;
  }
}
.content-body-greeting__name {
  font-size: 40px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;
}
.content-body-greeting__name.entered {
  opacity: 1;
}
@media (max-width: 768px) {
  .content-body-greeting__name {
    font-size: 32px;
  }
}

.disabled {
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.toggle:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

input:checked + .toggle {
  background-color: #4cbf3f;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #4cbf3f;
}

input:checked + .toggle:before {
  transform: translateX(17px);
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}