//--------------------------------------------------------------
footer {}
//--------------------------------------------------------------
.footer {
	width: 100%;
	height: 30vh;
	min-height: 160px;  
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.footer-body {

	&__change {
		background-image: url("../assets/svg/reload.svg"); 
	}
}
.footer-body-quote {

	&__text {
		padding: 20px 0;
	}

	&__author {
	}
}