.player-icon,
.slider-icon,
.change-quote {
	width: 32px;
	height: 32px;
	
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	
	border: 0;
	outline: 0;
	opacity: .8;
	cursor: pointer;
	transition: .3s;  
}
 
.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
	opacity: 1;
}
 
.player-icon:active,
.slider-icon:active,
.change-quote:active {
	border: 0;
	outline: 0;  
	transform: scale(1.1);
}