* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #636060;
  line-height: 1;
  font-family: "Inter";
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0px auto;
  color: #000;
}
@media (max-width: 1232px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  padding: 42px 0;
  background-color: #EDF2EC;
}

.header-body {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: flex-end;
}
.logo__img img {
  max-width: 100%;
}
.logo__text {
  color: #000;
  font-size: 16px;
}

.header-menu-list {
  display: flex;
}
.header-menu-list__link {
  font-family: "Inika";
  color: #010201;
  font-size: 16px;
}
.header-menu-list__link span {
  position: relative;
  line-height: 28px;
}
.header-menu-list__link span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #010201;
  transition: all 0.3s ease 0s;
}
.header-menu-list__link:hover span::after {
  left: 0;
  width: 100%;
}
.header-menu-list .active {
  color: #E06733;
  font-weight: 700;
}
.header-menu-list .active span {
  position: relative;
  line-height: 28px;
}
.header-menu-list .active span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #E06733;
  transition: all 0.3s ease 0s;
}
.header-menu-list .active:hover span::after {
  left: 0;
  width: 100%;
}
.header-menu-list li {
  margin: 0px 46px 0px 0px;
}
.header-menu-list li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer {
  padding: 50px 0;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 20px;
}
.footer-body-item {
  display: flex;
  margin: 0 -10px;
}
.footer-body-item__column {
  padding: 0 10px;
}

.footer-body-links {
  margin: 0 -7px;
}
.footer-body-links__link {
  padding: 0 7px;
}

.welcome {
  padding: 62px 0;
  background-color: #EDF2EC;
}

.welcome-body {
  display: flex;
  justify-content: space-between;
}
.welcome-body-item {
  padding: 45px 0px 0px 0px;
  max-width: 550px;
}
.welcome-body-item__title {
  color: #717171;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
}
.welcome-body-item__title span {
  color: #499A18;
}
.welcome-body-item__text {
  padding: 48px 0px 42px 0px;
  max-width: 525px;
  color: #636060;
  line-height: 35px;
}
.about {
  padding: 85px 0;
}

.about-body {
  display: flex;
  justify-content: space-between;
}
.about-body-item {
  padding: 70px 0px 0px 0px;
  max-width: 605px;
}
.about-body-item__title {
  max-width: 460px;
  color: #499A18;
  font-family: "Inika";
  font-size: 40px;
  line-height: 52px;
}
.about-body-item__title span {
  color: #E06733;
}
.about-body-item__text {
  padding: 40px 0px 0px 0px;
  color: #636060;
  font-size: 20px;
  line-height: 30px;
}

.service {
  padding: 55px 0px 65px 0px;
  background-color: #EDF2EC;
}

.service-body-header {
  margin: 0px 0px 75px 0px;
  display: flex;
  align-items: center;
}
.service-body-header__title {
  max-width: 300px;
  margin: 0px 145px 0px 0px;
  font-family: "Inika";
  color: #499A18;
  font-size: 40px;
  line-height: 52px;
}

.service-body-header-list__item {
  cursor: pointer;
}
.service-body-header-list li {
  margin: 0px 35px 0px 0px;
}
.service-body-header-list li:last-child {
  margin: 0px 0px 0px 0px;
}

.service-body-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -56px;
}
.service-body-cards__column {
  flex: 0 0 33.333%;
  padding: 0 56px;
  margin: 0px 0px 55px 0px;
}

.service-body-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.service-body-cards-item__img img {
  max-width: 100%;
}
.service-body-cards-item__title {
  padding: 10px 0px 0px 0px;
  color: #E06733;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.service-body-cards-item__text {
  padding: 15px 0px 35px 0px;
  color: #717171;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.prices {
  padding: 40px 0px 100px 0px;
}

.prices-body {
  display: flex;
  justify-content: space-between;
}
.prices-body-item__title {
  max-width: 460px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.prices-body-item__title span {
  color: #499A18;
}
.prices-body-item__title.title--r {
  text-align: right;
}
.prices-body-item.item--r {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices-body-item__btn {
  margin: 40px 0;
}
.prices-body-item-buttons {
  margin: 60px 0px 0px 0px;
  padding: 33px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  position: relative;
}
.prices-body-item-buttons__button {
  display: block;
  padding: 0 40px;
  min-height: 50px;
  width: 250px;
  background: #EDF2EC;
  border-radius: 20px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  position: relative;
}
.prices-body-item-buttons__button::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 40px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url(../img/prices/arrow.svg) #D9D9D9 center no-repeat;
}
.prices-body-item-buttons__button.button--c {
  margin: 32px 0px 32px 0px;
}
.prices-body-item-buttons__button.button--b {
  margin: 0px 0px 0px 0px;
}

.card {
  display: none;
  padding: 0 40px;
  min-height: 140px;
  width: 250px;
  background: #D6E7D2;
  border-radius: 20px;
  position: absolute;
  top: 0px;
}
.card__title {
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  position: relative;
}
.card__title::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url(../img/prices/arrow.svg) #D9D9D9 center no-repeat;
  transform: rotate(-180deg);
}
.card__title::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 0.5px;
  bottom: 7px;
  left: 0;
  background-color: #AEA1A1;
}
.card__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}
.card__cost {
  color: #000;
  font-size: 12px;
  line-height: 20px;
}
.card__cost span {
  font-weight: 700;
  color: #E06733;
}
.card__btn {
  padding: 0 20px;
  min-height: 25px;
  min-width: 85px;
  background-color: #fff;
  border-radius: 10px;
  color: #717171;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
}
.card__btn:hover {
  color: #000;
  background-color: #EDF2EC;
}

.basics {
  display: none;
}

.standard {
  display: none;
}

.procare {
  display: none;
}

.contacts {
  padding: 60px 0px 0px 0px;
  background-color: #EDF2EC;
}
.contacts__title {
  font-family: "Inika";
  color: #499A18;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
.contacts select {
  display: none;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
}
.contacts-body__img {
  margin: -60px 0px 0px 0px;
}

.contacts-body-list {
  margin: 35px 0px 45px 0px;
  height: 50px;
  min-width: 450px;
  position: relative;
  cursor: pointer;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}
.contacts-body-list__placeholder {
  padding: 0px 0px 0px 22px;
  color: #717171;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.contacts-body-list__placeholder::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 34px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url(../img/contacts/arrow.svg) #AEA1A1 center no-repeat;
}

.contacts-body-list-options {
  display: none;
  padding: 25px 0px 0px 0px;
  background-color: #DCE9D9;
}
.contacts-body-list-options__option {
  padding: 0px 0px 0px 34px;
  position: relative;
  cursor: pointer;
  color: #499A18;
  font-size: 16px;
  line-height: 40px;
}
.contacts-body-list-options__option::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 1px;
  bottom: 7px;
  left: 35px;
  background-color: #D9D9D9;
}
.contacts-body-list-options__option:hover {
  color: #717171;
}
.contacts-body-list-options__option:hover::after {
  background-color: #717171;
}

.contacts-body-card {
  padding: 17px 0px 0px 35px;
  display: flex;
  border: 1px solid #000000;
  border-radius: 20px;
}
.contacts-body-card__title {
  margin: 0px 5px 0px 0px;
  color: #000;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
}
.contacts-body-card__text {
  color: #717171;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
}
.contacts-body-card__btn {
  display: inline-block;
  margin: 24px 0px 32px 0px;
  padding: 0 29px;
  min-height: 26px;
  min-width: 122px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inika";
  color: #717171;
  font-weight: 700;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.contacts-body-card__btn:hover {
  background-color: #E06733;
  color: #fff;
}

#canandaigua {
  display: none;
}

#newyork {
  display: none;
}

#yonkers {
  display: none;
}

#sherrill {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0px 40px;
  min-height: 50px;
  min-width: 160px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 20px;
  line-height: 50px;
  color: #E06733;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.btn.btn--b {
  padding: 0px 27px;
  min-height: 44px;
  min-width: 160px;
  border: 2px solid #E06733;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  line-height: 42px;
  text-transform: uppercase;
}
.btn.btn--s {
  padding: 0 25px;
  font-weight: 700;
}
.btn:hover {
  background-color: #E06733;
  color: #fff;
}
.btn.fw {
  width: 100%;
}